# Visual Studio
.vs/
*.user
*.suo
*.userprefs

# Build output
bin/
obj/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Logs and temp files
*.log
*.cache
*.tmp

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Dotnet
*.dbmdl
*.jfm

# Environment configs
appsettings.*.local.json